*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { scroll-behavior: smooth; }

body {
    
  background-color: var(--color-background-soft);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}