

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Newsreader:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
:root {
  /* Paleta de Cores do Bergfreunde */
  --color-dark-blue: #1a365d;      
  --color-primary-gold: #d4af37;   
  --color-secondary-red: #8b0000;  
  --color-background-soft: #f8f9fa;
  --color-text-main: #2d3748;
  --color-text-soft: #f8f9fa;      
  
  /* Tipografia */
  /* Serifada para Títulos*/
  --font-serif: 'Newsreader', 'Georgia', serif;
  --font-gothic: 'UnifrakturMaguntia';
  /* Sans-serif para Conteúdo  */
  --font-sans: 'Inter', 'system-ui', -apple-system, sans-serif;
  
  /* Espaçamentos e Bordas */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --shadow-standard: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  /* Transições */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}

